<!-- Main Section 2 -->
<section class="sec-two">
  <div class="container">
    <h2 class="visually-hidden">Test</h2>

    <ul class="div-text">
      <li class="div-list-sec-two">
        <div class="sec-two-two">
          <svg class="sec-two-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-antenna-1"></use>
          </svg>
        </div>
        <h3 class="sec-two-h-three">Strategy</h3>
        <p class="section-two-p">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <li class="div-list-sec-two">
        <div class="sec-two-two">
          <svg class="sec-two-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-clock-1"></use>
          </svg>
        </div>
        <h3 class="sec-two-h-three">Punctuality</h3>
        <p class="section-two-p">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <li class="div-list-sec-two">
        <div class="sec-two-two">
          <svg class="sec-two-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-diagram-1"></use>
          </svg>
        </div>
        <h3 class="sec-two-h-three">Diligence</h3>
        <p class="section-two-p">
          Research and confirm brands with the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <li class="div-list-sec-two">
        <div class="sec-two-two">
          <svg class="sec-two-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-astronaut-1"></use>
          </svg>
        </div>
        <h3 class="sec-two-h-three">Technologies</h3>
        <p class="section-two-p">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
