<!-- Main Section 3 -->
<section class="sec-three">
  <div class="container div-sec-three">
    <h2 class="sec-three-h-two">Our Team</h2>
    <ul class="sec-three-ul">
      <li class="sec-three-li">
        <img
          srcset="
            ./img/mobile/mob-mark@1.jpg 1x,
            ./img/mobile/mob-mark@2.jpg 2x
          "
          src="./img/img1.jpg"
          alt="Mark Guerrero Product Designer"
          width="264"
        />

        <div class="sec-three-li-text">
          <h3 class="sec-three-h-three">Mark Guerrero</h3>
          <p class="section-three-p">Product Designer</p>

          <ul class="sec-three-li-text-two">
            <li class="sec-three-li-svg">
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="sec-three-li-svg">
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="sec-three-li-svg">
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="sec-three-li-svg">
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="sec-three-li">
        <img
          srcset="./img/mobile/mob-tom@1.jpg 1x, ./img/mobile/mob-tom@2.jpg 2x"
          src="./img/img2.jpg"
          alt="Tom Ford Frontend Developer"
          width="264"
        />

        <div class="sec-three-li-text">
          <h3 class="sec-three-h-three">Tom Ford</h3>
          <p class="section-three-p">Frontend Developer</p>

          <ul class="sec-three-li-text-two">
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="sec-three-li">
        <img
          srcset="
            ./img/mobile/mob-camila@1.jpg 1x,
            ./img/mobile/mob-camila@2.jpg 2x
          "
          src="./img/img3.jpg"
          alt="Camila Garcia Marketing"
          width="264"
        />

        <div class="sec-three-li-text">
          <h3 class="sec-three-h-three">Camila Garcia</h3>
          <p class="section-three-p">Marketing</p>

          <ul class="sec-three-li-text-two">
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="sec-three-li">
        <img
          srcset="
            ./img/mobile/mob-daniel@1.jpg 1x,
            ./img/mobile/mob-daniel@2.jpg 2x
          "
          src="./img/img4.jpg"
          alt="Daniel Wilson UI Designer"
          width="264"
        />
        <div class="sec-three-li-text">
          <h3 class="sec-three-h-three">Daniel Wilson</h3>
          <p class="section-three-p">UI Designer</p>

          <ul class="sec-three-li-text-two">
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="./img/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="sec-three-li-text-two-list" href="">
                <svg class="icon-svg" width="16">
                  <use href="../img/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
